.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryLight);
    padding: 48px 24px;
    gap: 24px;
}
.logoSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.logoSectionImage{
    position: relative;
    min-height: 100px;
    height: 100px;
    min-width: 100px;
    width: 100px;
    border-radius: 16px;
    overflow: hidden;
}
.linkSection{
    padding: 32px 0;
    display: flex;
    max-width: 400px;
}
.linkSectionColumn {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 4px;
}
.downloadSection{
    display: flex;
    flex-direction: column;
}
.stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

@media screen and (min-width: 400px) {
    .logoSection{
        justify-content: center;
    }
    .linkSection{
        align-self: center;
        width: 300px;
        gap: 32px
    }
    .stack{
        align-items: center;
    }
}

@media screen and (min-width: 850px) {
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 24px;
    }
    .stack{
        align-items: flex-start;
    }
    .logoSection{
        min-width: 270px;
    }
    .linkSection{
        padding: 0;
        min-width: 300px;
        gap: 0;
    }
}
@media screen and (min-width: 1500px) {
    .footer {
        justify-content: space-evenly;
    }
}