.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
    position: relative;
    z-index: 10;
    transform: translateX(-2vw);
    border-radius: 16px;
    background-color: var(--secondaryLight);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container::before{
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -10;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background-color: var(--secondary);
}
@media screen and (min-width: 700px) {
    .container{
        transform: unset
    }
}