.container{
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    margin-left: 8px;
}
.navList{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px; 
}
.navLink{
    font-size: 24px;
    font-weight: 500;
    transition: .2s ease all;
}
.navLink:hover{
    scale: 1.07
}


.drawer{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    max-width: 350px;
    width: 100vw;
    padding: 16px;
}
.drawerHeader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.drawerList{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding: 0;
}
.drawerLink{
    font-size: 32px;
    transition: .2s ease all;
}
.drawerLink:hover {
    scale: 1.02
}
.drawerLinkSmall{
    color: rgb(150, 150, 150);
    transition: .2s ease all;
}
.drawerLinkSmall:hover {
    scale: 1.02
}
.drawerFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media screen and (max-height: 650px) {
    .drawerLink {
        font-size: 28px;
    }
}
@media screen and (max-width: 750px) {
    .container{
        padding: 0;
    }
}