.page{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--secondaryLight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
    min-height: max-content;
    width: 100%;
    max-width: 550px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #FFF;
}

.image {
    position: relative;
    height: 100px;
    width: 100px;
}

.input{
    width: 100%;
}

.button{
    border-radius: 4px;
}

.link{
    color: var(--primary);
    transition: .2s ease all;
}

.back{
    position: absolute;
    top: 16px;
    left: 20px;
}

.circle{
    width: calc(100vw - 64px);
    max-width: 456px;
    height: 300px;
    background-color: var(--secondaryLight);
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed var(--primary);
}
.circle:hover{
    cursor: pointer;
}

.dropzone{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.remove {
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 1000;
}

@media screen and (min-width: 550px) {
    .form{
        border-radius: 16px;
    }
}